html,
body,
.container {
  width: 100%;
}

.container {
  margin-top: -4em;
}

body {
  text-align: center;
  background: #00816a
    url("https://images2.imgbox.com/13/e2/OLxxo9PI_o.jpg") no-repeat
    fixed center center / cover;
  font-family: sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px 2px #000;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  color: #fff;
  font-family: "Lobster", cursive;
  font-weight: 300;
  font-size: 6em;
  margin-bottom: 0;
}

.timerAdjust {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 1.9em;
  width: 50%;
  margin-top: -1em;
}

.timerAdjust > div {
  padding: 0.7em;
  border-radius: 3px;
  background: transparent;
  display: inline-block;
}

.timerAdjust > div span {
  padding: 1em 1em 0.2em 1em;
  border-radius: 3px;
  background: transparent;
  display: inline-block;
}

.adjust {
  padding: 1em;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  outline: none;
}

#indicator {
  display: inline-block;
  background-color: rgba(230, 230, 0, 0.92);
  border: 1px solid #666;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  width: 58%;
}

#indicator h2 {
  color: #045336;
  font-size: 3em;
}

.progress {
  margin: 1em auto 2.5em auto;
  width: 58%;
  height: 30px;
  border: 1px solid rgba(255, 255, 0, 0.92);
  border-radius: 5px;
  background-color: transparent;
}

.bar {
  background-color: transparent;
  width: 10px;
  height: 30px;
  position: relative;
}

#indicator .minutes,
#indicator .seconds {
  width: 45%;
  font-size: 3rem;
  color: #327754;
}

.set {
  padding-bottom: 0.5em;
}

.set,
.minutes {
  color: #327754;
  font-size: 4rem;
}

.start,
.stop {
  font-size: 2rem;
  padding: 0.5em 2em;
  border: 1px solid #666;
  border-radius: 10px;
  color: #045336;
  background-color: rgba(230, 230, 0, 0.92);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.start:hover,
.stop:hover {
  color: #ddd;
  background-color: rgba(255, 255, 70, 0.8);
  cursor: pointer;
}

footer {
  text-align: left;
  color: #fff;
  font-size: 1.2rem;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

footer span {
  color: #00816a;
  font-weight: bold;
  font-size: 1.1em;
}

@media screen and (max-width: 960px) {
  h1 {
    margin-top: 2.5em;
    font-size: 2.5em;
  }
  .timerAdjust {
    display: block;
    max-width: 80%;
    margin: auto;
    text-align: center;
  }

  .timerAdjust > div span {
    display: block;
    max-width: 50%;
    margin: auto;
    text-align: center;
    font-weight: bold;
  }
  .break-title,
  .session-title {
    font-size: 22px;
  }
  div.setter {
    display: block;
    margin: auto;
    text-align: center;
  }
  .start,
  .stop {
    display: block;
    margin-bottom: 8px;
  }
}
